
@import 'vars';

$bay-top: 20px;
$b3-top: $bay-top - 500px;
$tank-top: $bay-top + 200px;
$lith-top: $bay-top + 15px;
$turkey-top: $lith-top - 10px;
$msg-top: $lith-top + 40px;
$missile-top: $bay-top + 25px;
$missile-fire-top: $tank-top + 15px;
$explosion-top: $missile-fire-top;
$explosion-e1-top: $explosion-top - 80px;
$thanks-top: $bay-top + 30px;
$thanks-t-top: $thanks-top + 80px;

.bayraktar-animation {
    width: 100%;
    position: absolute;
}

.bayraktar {
    @include animation-elem;
    height: 55px;
    width: 60px;
    top: $bay-top;
    left: 25%;
}

.b2 {
    transition-duration: 3s;
    left: 70%;
}

.b3 {
    transition-duration: 1s;
    left: 90%;
    top: $b3-top;
}

.invis { opacity: 0; }

.tank {
    @include animation-elem;
    position: absolute;
    display: inline-block;
    height: 60px;
    width: 60px;
    top: $tank-top; 
    left: -100px;
}

.tank.t1 {
    left: 8%;
    transition-duration: 2s;
}

.tank.t2 {
    left: 86%;
    transition-duration: 3s;
}

.lith {
    @include animation-elem;
    height: 40px;
    top: $lith-top;
    left: 80px;
}

.turkey {
    @include animation-elem;
    height: 50px;
    top: $turkey-top;
    left: 220px;
}

.msg1 {
    @include animation-elem;
    top: $msg-top;
    left: 65px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #046A38;
    background-color: white;
    padding: 1px;
    font-size: 18px;
}

.msg2 {
    @include animation-elem;
    top: $msg-top;
    left: 228px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #046A38;
    background-color: white;
    padding: 1px;
    font-size: 18px;
}

.msg3 {
    @include animation-elem;
    top: $msg-top;
    left: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #E30A17;
    background-color: white;
    padding: 1px;
    font-size: 18px;
}

.missile {
    @include animation-elem(9);
    height: 14px;
    top: $missile-top;
    left: 71%;
    transform: rotate(45deg);
}

.missile.fire {
    transition-duration: 240ms;
    opacity: 1.0;
    top: $missile-fire-top;
    left: 88%;
}

.explosion {
    @include animation-elem(11);
    top: $explosion-top;
    left: 89%;
    height: 0;
}

.explosion.e1 {
    transition-duration: 200ms;
    height: 160px;
    top: $explosion-e1-top;
    left: 79%;
}

.explosion.e2 {
    left: 85.5%;
    opacity: 0;
}

.appear1 {
    opacity: 1.0;
    transition-duration: 1s;
}

.appear2 {
    opacity: 1.0;
    transition-duration: 2s;
}

.disappear-500ms {
    opacity: 0.0;
    transition-duration: 500ms;
}
.disappear1 {
    opacity: 0.0;
    transition-duration: 1s;
}

.thanks {
    @include animation-elem(11);
    top: $thanks-top;
    right: 4%;
    color: white;
    background-image: linear-gradient(180deg, #FFB81C, #046A38, #DA291C);
    border-radius: 4px;
    padding: 6px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;
}

.thanks-t {
    @include animation-elem(110);
    top: $thanks-t-top;
    right: 4%;
    color: white;
    background-color: #E30A17;
    border-radius: 4px;
    padding: 6px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 23px;
}
