
.bayraktar-animation {
    width: 100%;
    position: absolute;
}

/* bayraktar */

@mixin animation-elem($zIndex: 10) {
    position: absolute;
    display: inline-block;
    z-index: $zIndex;
}

.bayraktar {
    @include animation-elem;
    height: 55px;
    width: 60px;
    top: -75px;
    left: 25%;
}

.b2 {
    transition-duration: 3s;
    left: 70%;
}

.b3 {
    transition-duration: 1s;
    left: 90%;
    top: -500px;
}

.invis { opacity: 0; }

.tank {
    @include animation-elem;
    position: absolute;
    display: inline-block;
    height: 60px;
    width: 60px;
    top: 160px;
    left: -100px;
}

.tank.t1 {
    left: 8%;
    transition-duration: 2s;
}

.tank.t2 {
    left: 86%;
    transition-duration: 3s;
}

.lith {
    @include animation-elem;
    height: 40px;
    top: -60px;
    left: 80px;
}

.turkey {
    @include animation-elem;
    height: 50px;
    top: -70px;
    left: 220px;
}

.msg1 {
    @include animation-elem;
    top: -18px;
    left: 65px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #046A38;
    background-color: white;
    padding: 1px;
    font-size: 18px;
}

.msg2 {
    @include animation-elem;
    top: -18px;
    left: 228px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #046A38;
    background-color: white;
    padding: 1px;
    font-size: 18px;
}

.msg3 {
    @include animation-elem;
    top: -18px;
    left: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #E30A17;
    background-color: white;
    padding: 1px;
    font-size: 18px;
}

.missile {
    @include animation-elem(9);
    height: 14px;
    top: -50px;
    left: 71%;
    transform: rotate(45deg);
}

.missile.fire {
    transition-duration: 240ms;
    opacity: 1.0;
    top: 190px;
    left: 88%;
}

.explosion {
    @include animation-elem(11);
    top: 190px;
    left: 89%;
    height: 0;
}

.explosion.e1 {
    transition-duration: 200ms;
    height: 160px;
    top: 110px;
    left: 79%;
}

.explosion.e2 {
    left: 85.5%;
    opacity: 0;
}

.appear1 {
    opacity: 1.0;
    transition-duration: 1s;
}

.appear2 {
    opacity: 1.0;
    transition-duration: 2s;
}

.disappear-500ms {
    opacity: 0.0;
    transition-duration: 500ms;
}
.disappear1 {
    opacity: 0.0;
    transition-duration: 1s;
}

.thanks {
    @include animation-elem(11);
    top: -40px;
    right: 4%;
    color: white;
    background-image: linear-gradient(180deg, #FFB81C, #046A38, #DA291C);
    border-radius: 4px;
    padding: 6px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;
}

.thanks-t {
    @include animation-elem(110);
    top: 40px;
    right: 4%;
    color: white;
    background-color: #E30A17;
    border-radius: 4px;
    padding: 6px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 23px;
}
