{{#if this.breaking}}
  <div class="breaking">
    <FaIcon @icon="bolt" style="color:gold" @prefix="fa" />
    <Link @txt="Breaking: General #11" @url="https://twitter.com/nexta_tv/status/1533494289631674373"/>
  </div>
{{/if}}

<p>
  Source: &nbsp;
  <Link @url="https://twitter.com/KilledInUkraine" @txt="Russian Officers Killed in Ukraine" /> 
  &nbsp;
  <Link @url='https://docs.google.com/spreadsheets/d/1_bpIqkzD88hlSpA-PDZenSQGNnVnxz3lwYHKViSyuUc/edit#gid=1651879573' @txt="Full data" />
  <br/>
  <span class="small-txt">Updated: {{this.link.updated}}</span>
</p>

<img class="officers-killed-img" src={{this.link.url}} />