    <div class="event-date">
        <span class="event-date-day">Day {{this.day}}</span>
        <span class="event-date-date">{{@event.d}}</span>
    </div>
    <div class="event-text">
        {{{@event.t}}}
    </div>