
<div class="countdown">
    <span class="war-day">
        Day {{this.warDay}}
    </span>

    <span class="countdown-text">
        <span class="countdown-days">
            {{this.tillIndep}}
        </span>
     days to Independence Day 2022
    </span>
    <span class="indep-day">
        Wed August 24
    </span>
</div>

<div class="countdown-bar">
    <div class="inner-countdown-bar" style="width: {{this.widthPct}}%">
        &nbsp;
    </div>
</div>