<div class="ytube-card">
    <div class="song-iframe">
        <iframe width={{this.ytWidthPx}} height={{this.ytHeightPx}} src="{{this.src}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
    </div>
</div>