<div class="song-card">
    <div class="song-iframe">
        <iframe width="432px" height="243px" src="{{this.src}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
    </div>
</div>

<div class="song-card">
    <div class="song-details">
        <div class="song-name">{{@item.t}}</div>
        {{#if @item.a}}
            <div class="song-artist">{{@item.a}}</div>
        {{/if}}
        <div class="song-text">{{{@item.txt}}}</div>
    </div>
</div>