{{page-title "Art"}}

<p style="text-align:center; font-size: 16px; margin-top: 30px;">
    Attribution and more art coming soon. Some of the images can be found at
    <a href="https://www.instagram.com/0lga.art/" target="_blank" rel="noopener noreferrer" >Olga Art</a> on Instagram
</p>
<div class="art-cards">
    {{#each this.model as |image| }}
        <ArtImage @image={{image}}/>
    {{/each}}
</div>