
{{page-title "UAVictory"}}
<div class="banner-top"/> 

<div class="banner">
    {{!-- <div class="banner-center-img">
        <Image @src='banner_j85ytE3yn.png' />
    </div> --}}
    <a class="help-btn" href="/help">Help<br/> Ukraine </a>
    <Image @src='logo_TPp_rw28Ni.png' />
</div>
<div class="banner-bottom"/>
<div class="main-menu">
    <LinkTo @route='index'>Home</LinkTo>
    <LinkTo @route='most'>Most</LinkTo>
    <LinkTo @route='feed'>Spirit</LinkTo>
    <LinkTo @route='data'>Data</LinkTo>
    <LinkTo @route='heroes'>Heroes</LinkTo>
    <LinkTo @route='visitors'>Visitas</LinkTo>
    <LinkTo @route='intel'>Intel</LinkTo>
    <LinkTo @route='help'>Help</LinkTo>
</div>
<hr/>
<main>
    {{outlet}}
</main>