Battlefields

<table>
    {{#each this.model as |battlefield|}}
        <tr>
            <td>
                <h4>{{battlefield.t}}</h4>
                <br/>
                {{{battlefield.d}}}
            </td>
        </tr>
    {{/each}}
</table>