{{page-title "Most"}}
<div class="sub-menu">
    <LinkTo class="sub-menu-item" @route='most'>Most</LinkTo>
    <LinkTo class="sub-menu-item" @route='most.songs'>Songs</LinkTo>
    <LinkTo class="sub-menu-item" @route='most.art'>Art</LinkTo>
</div>

<div style="text-align:center; margin: 40px 0">
    <h1>Best Worst Funniest Craziest things of the war</h1>
</div>

{{outlet}}