{{page-title "Most"}}
<div class="sub-menu">
    <LinkTo class="sub-menu-item" @route='most'>Most</LinkTo>
    <LinkTo class="sub-menu-item" @route='most.songs'>Songs</LinkTo>
    <LinkTo class="sub-menu-item" @route='most.art'>Art</LinkTo>
</div>

<div class="link2022-most">
    <Link @url="https://www.youtube.com/watch?v=7fQNHcXIb-A" 
        @imgUrl="2022_Overture_link_8ZFYx8wv9.png" 
        @imgClass="link2022"/>
</div>

<div style="text-align:center; margin: 40px 0">
    <h1>Best Worst Craziest things of the war</h1>
</div>

{{outlet}}