{{page-title "Most"}}
<div class="sub-menu">
    <LinkTo class="sub-menu-item" @route='most'>Most</LinkTo>
    <LinkTo class="sub-menu-item" @route='most.songs'>Songs</LinkTo>
    <LinkTo class="sub-menu-item" @route='most.art'>Art</LinkTo>
</div>

<h2>Best/worst/funniest/craziest things of the war</h2>

{{outlet}}